asgiref==3.11.1
async-timeout==5.0.1
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
cryptography==46.0.5
dj-database-url==3.1.2
Django==5.2.12
django-filter==25.2
django-redis==6.0.0
django-rest-framework==0.1.0
djangorestframework==3.17.0
greenlet==3.3.2
h11==0.16.0
idna==3.11
numpy==2.4.4
osmium==4.3.1
pandas==3.0.2
playwright==1.58.0
psycopg2-binary==2.9.11
pycparser==3.0
pyee==13.0.1
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
RapidFuzz==3.14.5
redis==7.4.0
requests==2.32.5
scipy==1.17.1
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
tqdm==4.67.3
-e git+https://github.com/Kai-codin/TransportStatistics.git@8ad7dd3a601f0619e839a24d5c38965a953ecfa2#egg=ts_schedule_updater&subdirectory=tools/schedule_updater
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.42.0
